body {
    background: rgb(26, 26, 46);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: red;
}

.principal {
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Visiter*/

a{
    text-decoration: none;
    color: rgb(255, 255, 255);



}
a:visited{
    color: #ffffff;
}
a:hover{
    color:#338bd5
}
a:active{
    color:#338bd5
}


