body {
    background: rgb(26, 26, 46);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

button {
    display: flex;
    padding: 10px 0;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    margin-top: auto;
    max-width: 50%;
}

.principal {
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    display: flex;
    width: 50%;
    height: 10%;
    
}

a{
    max-width: 20%;
}



