body{
   background-color:  #1a1a2e;
   margin:0px;
   padding:0px;
   font-family: Avenir, sans-serif;

}

/****************************************************************Barre de Navigation********************************************************************/

.navbar {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #0f0f1b;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;

}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

section{
  scroll-margin-top: 80px;
}

/********************************************************************** Responsive Burger ********************************************************/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #0f0f1b;
    top: 50px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
  }
  
}

.logopti{
    position: static;
    max-width:10%;
}
.textopti{
    color: white;
}

/****************************************************************Page Contact********************************************************************/

main{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.contp{
    margin: 10px 0;
}

.formu{
    margin:25px;
}

.formulaire{
    text-align: center;
    margin: 25px;
    color: white;
}
input{
    font-size: 100%;
    background-color: rgba(119, 26, 26, 0.61);
    border-radius: 5px;
    border-color: white;
    color: white;
}
textarea{
    background-color: rgba(119, 26, 26, 0.61) ;
    border-radius: 5px;
    border-color: white;
    color: white;
}


/********************************************************************************************************/

.menale{
  background-color: #0f0f1b;
  border: 0;
  display: flex;
  justify-content:space-evenly; 
  color: white;
  padding: 5vh 0 65px;
  text-align: center;
}
.lepage {
  color: white;
  text-decoration: none;
  margin: auto 0;
  
}
.lepage:hover{
  color: #777777 ;
}
.lepage::after{
  color: #777777;
}