body{
   background:  linear-gradient(135deg, #1a1a2e, #000000);
}
*{
    margin:0px;
    padding:0px;
    font-family: Avenir, sans-serif;
    display: block;
}










































































/*La barre de navigation*/

nav ul{
    list-style-type: none;
}
nav li{
    float:right;
    width: 15%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    width: 100%;
    margin: 0 auto;
    background:linear-gradient(135deg, #1a1a2e, #000000);
    position: sticky;
    top: 20px;
    
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 50px ;

    
}

nav a:hover{
    color:#4fd1ff;

}

/*Logo sur la barre de navigation*/

.logo{
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 8px;
    left: 150px;
    font-size: 20px;
}


/*.logo{
    display: block;
    margin: auto;
    margin-top: -5%;
    width: 5%;
    height: 5%;
    position:sticky ;
}*/